counter.count is used to save the total number of increments that takes place in all instances

self._count is used to store the total number of increments that take place in that specific instance.


output for a.getcount()= instance count: 2 and class count:3
output for b.getcount()=instance count: 1 and class count:3

Whenever the increment() is called, it increments the self._count and Counter.count

In [3]:
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [5]:
def first_letter(names):
  names.sort()
  return names[0]

students = ['Roshan','Varun','Avinash','Murali','Meghana','Rishi']
first_letter(students)

'Avinash'

In [6]:
class Employee:
    employee_count = 0
    total_salary = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department

        Employee.employee_count += 1
        Employee.total_salary += salary

    @classmethod
    def average_salary(cls):
        if cls.employee_count == 0:
            return 0
        return cls.total_salary / cls.employee_count

    def display_info(self):
        print(f"Name: {self.name}, Family: {self.family}, Salary: {self.salary}, Department: {self.department}")


class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)


e1 = Employee("Roshan", "Rishi", 50000, "HR")
e2 = FulltimeEmployee("Varun", "Varma", 60000, "Engineering")
e3 = FulltimeEmployee("Meghana", "Sravanam", 70000, "Marketing")


e1.display_info()
e2.display_info()
e3.display_info()

print(f"\nTotal Employees: {Employee.employee_count}")
print(f"Average Salary: {Employee.average_salary()}")

Name: Roshan, Family: Rishi, Salary: 50000, Department: HR
Name: Varun, Family: Varma, Salary: 60000, Department: Engineering
Name: Meghana, Family: Sravanam, Salary: 70000, Department: Marketing

Total Employees: 3
Average Salary: 60000.0